/*GRILLAS PAGE IMAGENES*/

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto 200px;
    grid-template-areas:  
            /*COL1   COL2   COL3   COL4  COL5    COL6
    /*FILA1*/   "header header header header header header"
    /*FILA2*/   "main   main    main   main   main   main"
    /*FILA3*/   "footer footer  footer footer footer footer ";
}

#main2 {
    background-color: blueviolet;
    grid-area: main;
}

#footer2{
    background-color: chartreuse;
    grid-area: footer;
}


.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 30%);
    grid-template-areas: 
     /*COL1      COL2          COL3           COL4 */
    "img1        imgHoriz1     imgHoriz1      img2"
    "imgHoriz2    imgHoriz2     imgHoriz3     imgHoriz3"
    "img3          img4          img5           img6"
    ;

    gap: 20px;
}


.img-grid img {
    width: 100%;
    height: 100%;
}


.img1 {
    grid-area: img1;
}

.imgHoriz1 {
    grid-area: imgHoriz1;
}

.img2 {
    grid-area: img2;
}

.imgHoriz2 {
    grid-area: imgHoriz2;
}

.imgHoriz3 {
    grid-area: imgHoriz3;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}




@media screen and (max-width: 576px) {
    .img-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto);
        grid-template-areas: 
         /*COL1      COL2          COL3           COL4 */
        "img1"
        "imgHoriz1"
        "img2"
        "imgHoriz2"
        "imgHoriz3"
        "img3"
        "img4"
        "img5"
        "img6"
        ;
    
        gap: 20px;
    }
} 







