
/*PAGE REGISTRO*/


#main-registro {
    max-width: 600px;
    margin: 0 auto;
}

#form-registro {
    border: 1px solid #ddd;
    background-color: #fff;
}

#form-registro .form-control {
    border-radius: 5px;
}


